<div id="hero-div">#Because adventures need a home



    <div id="textDiv">

      <h1 class="mainHeader">Why we are the best</h1>

      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="rounded-circle"><i class='fas fa-hotel'></i></div>
          <h1>Accommodation</h1>
          <p>We offer the finest selectiopn of hotels everywhere</p>


        </div>
        <div class="col-sm-6 col-md-3">
          <div class="rounded-circle"><i class='fas fa-plane'></i></div>
          <h1>Transportation</h1>
          <p>Whether you want to travel by train plane or ship we will set it up for you</p>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="rounded-circle"><i class='fas fa-users'></i></div>
          <h1>Seasond Agents</h1>
          <p>Combined, the experience that our agents have is centuries</p>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="rounded-circle"><i class='fas fa-star'></i></div>
          <h1>Easy trip planing</h1>
          <p>Our travel agents are always ready to plan your perfect trip </p></div>
      </div>






    </div>

</div>
