
<div class="main">

  <h1>Best Travel Tips</h1>

  <div class="row">

    <div class="col-sm-10 col-md-4" id="cont1">
      <p>$200 /Person</p>
      <p class="country">Göteburg - Sweden</p>

    </div>
    <div class="col-sm-10 col-md-4" id="cont2">
      <p>$120 /Person</p>
      <p class="country"> Ásólfsskáli - Iceland</p>

    </div>
    <div class="col-sm-10 col-md-4" id="cont3">
      <p>$500 /Person</p>
      <p class="country"> Tokyo - Japan</p>
    </div>
    <div class="col-sm-10 col-md-4" id="cont4">
      <p>$300 /Person</p>
      <p class="country"> Sterling - Great Britain</p>
    </div>

  </div>









</div>


